<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSV Uploader</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="script/script.js"></script>

</head>
<body class="color_stampa">

    <div >
        <h1>CSV Uploader</h1>
<form id="csv-form">
    <input type="file" id="csv-file" accept=".csv">
    <button id="upload-btn" onclick="prova()">Upload</button>
    3<button id="stampa" type="button" onclick="location.href='/stampa'">DATA VIEWER</button>

    <script>
    </script>
</form>

     </div>

</body>
</html>