<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TechCare: Promozione della salute per i pazzienti affetti da Alzheimer</title>

    <link rel="stylesheet" href="css/style2.css" type="text/css">
    <script src="script/script.js"></script>

</head>
<body class="color_stampa">


        <h1 class="titolo">TechCare: Promozione della salute per i pazzienti affetti da Alzheimer</h1>
        <div class="site_back">
            <p>
                La nostra web app è progettata per supportare pazienti affetti da Alzheimer, offrendo uno strumento intuitivo e sicuro per gestire la loro quotidianità.
                L'app aiuta i pazienti a mantenere una certa indipendenza e a ridurre lo stress associato alla perdita di memoria.
            </p>
            <img src="immagini/aaa.jpg" width="300px">

        <button id="memory" type="button" onclick="location.href='/memory'">Memory</button>
        <button id="agenda" type="button" onclick="location.href='/Agenda_Autobiografica'">Agenda Autobiografica</button>


        </div>
</body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TechCare: Promozione della salute per i pazienti affetti da Alzheimer</title>
    <link rel="stylesheet" href="css/style3.css" type="text/css">
    <script src="script/script.js"></script>
</head>
<body class="color_stampa">
<h1 class="titolo">TechCare: Promozione della salute per i pazienti affetti da Alzheimer</h1>
<div class="site_back">
    <p>
        La nostra web app è progettata per supportare pazienti affetti da Alzheimer, offrendo uno strumento intuitivo e sicuro per gestire la loro quotidianità.
        L'app aiuta i pazienti a mantenere una certa indipendenza e a ridurre lo stress associato alla perdita di memoria.
    </p>
    <button id="memory" type="button" onclick="location.href='/memory'">Memory</button>
    <button id="agenda" type="button" onclick="location.href='/Agenda_Autobiografica'">Agenda Autobiografica</button>
    <button id="memory" type="button" onclick="location.href='/crossword'">Cruciverba</button>
    <button id="agenda" type="button" onclick="location.href='/game'">Parole Associate</button>

</div>
</body>
</html>
